<div>
    <h2>We want to know you</h2>

    <div *ngIf="!!updateError">
        <code style="color: red">{{ updateError }}</code>
    </div>

    <form [formGroup]="activateForm" (ngSubmit)="completeAccount()">
        <div>
            <table>
                <tr>
                    <td>Your Account Id:</td>
                    <td>
                        {{ accountId }}
                        <span *ngIf="!!selectedCountry">
                            <img [src]="countryImageUrl" alt="" width="20px" height="10px">
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>Your Email:</td>
                    <td>
                        <input type="email" formControlName="email">
                        &nbsp;

                        <span *ngIf="activateForm.get('email')?.dirty && activateForm.get('email')?.invalid">
                            <code style="color: darkslateblue">Something is missing here?</code>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>First Name:</td>
                    <td>
                        <input type="text" formControlName="firstname" placeholder="your firstname">
                        &nbsp;

                        <span *ngIf="activateForm.get('firstname')?.dirty && activateForm.get('firstname')?.invalid">
                            <code style="color: darkslateblue">How to address you?</code>
                        </span>
                    </td>

                </tr>

                <tr>
                    <td>Last Name:</td>
                    <td>
                        <input type="text" formControlName="lastname" placeholder="your lastname">
                    </td>
                </tr>

                <tr>
                    <td>Date of Birth:</td>
                    <td>
                        <input type="date" formControlName="dob">
                    </td>
                </tr>

                <tr>
                    <td>Country of Residence:</td>
                    <td>
                        <select name="" id="" formControlName="country" (change)="selectCountry()">
                            <option value="" hidden="true">Select Here</option>
                            <option *ngFor="let c of countries" [value]="c.name">{{ c.name }}</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Occupation:</td>
                    <td>
                        <input type="text" formControlName="occupation" placeholder="your occupation">
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <button type="submit" [disabled]="activateForm.invalid">That's me!</button>
                        <button (click)="routeToHome()">Next time</button>
                    </td>
                </tr>

            </table>
        </div>
    </form>
</div>
