<div class="container">

    <div class="container-title">
        <h1>Monthly Summary</h1>
    </div>

    <div class="container-navigation">
        <span class="navigation-previous">
            <button mat-mini-fab color="accent" (click)="previous()">
                <mat-icon style="color: darkslateblue" class="icon-arrow">keyboard_double_arrow_left</mat-icon>
            </button>
        </span>

        <span class="navigation-title">
            <h3 style="color:chocolate"> {{ displayDate | date:'MMM yy' }}</h3>
        </span>

        <span class="navigation-next">
            <button mat-mini-fab color="accent" (click)="next()">
                <mat-icon style="color:darkslateblue;" class="icon-arrow">keyboard_double_arrow_right</mat-icon>
            </button>
        </span>
    </div>
    
    <div class="container-summary">
        <table>
            <th>
                <h4>Your savings</h4>
            </th>
            <th>
                <h4>Your incomes</h4>
            </th>
            <th>
                <h4>Your expenses</h4>
            </th>

            <tr style="text-align: center;">
                <td>
                    <code [ngClass]="{'positive' : savings > 0, 'negative' : savings < 0}">{{ savings | currency:'SGD' }}</code>
                </td>
                <td>
                    <code>{{ incomes | currency:'SGD' }}</code>
                </td>
                <td>
                    <code>{{ spendings | currency:'SGD' }}</code>
                </td>
                <td>
                    <button *ngIf="displayExpense else hideexpensetable" mat-mini-fab color="primary" class="dropdown-button" (click)="onExpense()">
                        <mat-icon>keyboard_double_arrow_down</mat-icon>
                    </button>
                    <ng-template #hideexpensetable>
                        <button mat-mini-fab color="primary" class="dropdown-button" (click)="onExpense()">
                            <mat-icon>keyboard_double_arrow_up</mat-icon>
                        </button>
                    </ng-template>
                </td>
            </tr>
        </table>

        <div class="container-spacer">

        </div>
    
        <div class="container-expense">
    
            <div class="table-expense" *ngIf="displayExpense">
                <mat-card>
                    <mat-table [dataSource]="expSourceDisplay" class="records-table" #expenseTable>
                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef> No. </th>
                          <td mat-cell *matCellDef="let element"> {{ element.position }} </td>
                        </ng-container>
            
                        <!-- Position ID -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> ID. </th>
                            <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                        </ng-container>
                      
                        <!-- Category Column -->
                        <ng-container matColumnDef="category">
                          <th mat-header-cell *matHeaderCellDef> Category </th>
                          <td mat-cell *matCellDef="let element"> {{ element.category }} </td>
                        </ng-container>
                      
                        <!-- Item Column -->
                        <ng-container matColumnDef="item">
                          <th mat-header-cell *matHeaderCellDef> Item </th>
                          <td mat-cell *matCellDef="let element"> {{ element.item }} </td>
                        </ng-container>
                      
                        <!-- Transaction Date Column -->
                        <ng-container matColumnDef="transactionDate">
                          <th mat-header-cell *matHeaderCellDef> Transaction Date </th>
                          <td mat-cell *matCellDef="let element"> {{ element.transactionDate | date:'dd-MM-yyyy'}} </td>
                        </ng-container>
            
                        <!-- Transaction Date Column -->
                        <ng-container matColumnDef="currency">
                            <th mat-header-cell *matHeaderCellDef> Currency </th>
                            <td mat-cell *matCellDef="let element"> {{ element.currency }} </td>
                        </ng-container>
            
                        <!-- Transaction Date Column -->
                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef> Amount (SGD) </th>
                            <td mat-cell *matCellDef="let element" style="text-align: right;"> {{ element.amount | number:'1.2-2'}} </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </mat-table>
    
                    <mat-paginator #paginator
                        class="summary-paginator"
                        (page)="handlePageEvent($event)"
                        [length]="length"
                        [pageSize]="pageSize"
                        [disabled]="disabled"
                        [showFirstLastButtons]="showFirstLastButtons"
                        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                        [hidePageSize]="hidePageSize"
                        [pageIndex]="pageIndex"
                        aria-label="Select page">
                    </mat-paginator>
                </mat-card>
            </div>

        </div>

    </div>

</div>

