<div class="container">

    <div class="container-title">
        <h1>Financial Transaction</h1>
    </div>

    <div *ngIf="!!message">
        <code style="color:red">{{ message }}</code>
    </div>

    <div class="container-record">
        <div class="container-record-inner">
            <mat-card class="record-box" appearance="outlined">
                <form [formGroup]="transactionForm">
                    <table>
                        <tr>
                            <td><h4>Category</h4></td>
                            <td></td>
                            <td>
                                <mat-form-field color="primary">
                                    <mat-label>Select Category</mat-label>
                                    <mat-select name="" id="category" formControlName="category">
                                        <mat-option *ngFor="let c of CATEGORY" [value]="c">{{ c }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>
        
                        <tr>
                            <td><h4>Description</h4></td>
                            <td></td>
                            <td>
                                <mat-form-field color="primary">
                                    <mat-label>Description</mat-label>
                                    <input matInput type="text" formControlName="item">
                                    <button type="button" *ngIf="transactionForm.get('item')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="handleClearItem()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </td>
                        </tr>
        
                        <tr>
                            <td><h4>Date</h4></td>
                            <td></td>
                            <td>
                                <mat-form-field color="primary">
                                    <mat-label>Transaction Date</mat-label>
                                    <input matInput [matDatepicker]="picker1" formControlName="transactionDate">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </td>
                        </tr>
        
                        <tr>
                            <td><h4>Currency</h4></td>
                            <td></td>
                            <td>
                                <mat-form-field color="primary">
                                    <mat-label>Select Currency</mat-label>
                                    <mat-select name="" id="category" formControlName="currency">
                                        <mat-option *ngFor="let cr of CURRENCY" [value]="cr">{{ cr }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>
        
                        <tr>
                            <td><h4>Amount</h4></td>
                            <td></td>
                            <td>
                                <mat-form-field color="primary">
                                    <mat-label>Transaction Amount</mat-label>
                                    <input matInput type="number" formControlName="amount">
                                    <button *ngIf="transactionForm.get('amount')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="handleClearAmount()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </td>
        
                        </tr>
    
                        <tr *ngIf="transactionForm.get('amount')?.dirty && transactionForm.get('amount')?.invalid">
                            <td colspan="3">
                                <code style="color:red">Invalid currency amount</code>
                            </td>
                        </tr>
        
                        <tr>
                            <td><h4>Recurring</h4></td>
                            <td></td>
                            <td style="vertical-align: middle;">
                                <section class="example-section">
                                    <mat-slide-toggle (change)="toggleRecur($event)">Enabled Notification: {{isChecked}}</mat-slide-toggle>
                                </section>
                            </td>
                        </tr>
        
                        <tr>
                            <td></td>
                            <td></td>
                            <td>

                            </td>
                        </tr>
        
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <button mat-raised-button [color]="!checkFormValid() ? 'disabled' : 'primary'" [disabled]="!checkFormValid()" (click)="addNew()"> Add </button>
                            </td>
                        </tr>
        
                    </table>
        
                </form>
            </mat-card>
        </div>
    </div>
</div>
