<div>
    <h1>Financial Transaction</h1>

    <div>
        <form [formGroup]="transactionForm">
            <table>
                <tr>
                    <td>Category</td>
                    <td>:</td>
                    <td>
                        <select name="" id="category" formControlName="category">
                            <option hidden="true">Select category</option>
                            <option *ngFor="let c of CATEGORY">{{ c }}</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Description</td>
                    <td>:</td>
                    <td>
                        <input type="text" formControlName="item">
                    </td>
                </tr>

                <tr>
                    <td>Date</td>
                    <td>:</td>
                    <td>
                        <mat-form-field color="accent">
                            <mat-label>Transaction Date</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="transactionDate">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>Currency</td>
                    <td>:</td>
                    <td>
                        <select name="" formControlName="currency">
                            <option *ngFor="let cr of CURRENCY" [selected]="cr == 'SGD'">{{ cr }}</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Amount</td>
                    <td>:</td>
                    <td>
                        <input type="number"  formControlName="amount">
                    </td>

                    <span *ngIf="transactionForm.get('amount')?.dirty && transactionForm.get('amount')?.invalid">
                        <code style="color:red">Invalid currency amount</code>
                    </span>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <button [disabled]="transactionForm.invalid">Add</button>
                    </td>
                </tr>

            </table>
        </form>
    </div>
</div>
