.container {
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.container-title {
    padding-top: 3em;
    text-decoration: underline;
    text-decoration-color: blueviolet;
}

.container-title h1 {
    padding: 0.4em;
    width: fit-content;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 2.3em;
    color:blueviolet
}

.container-login {
    align-content: center;
    margin: auto;
    justify-content: center;
    width: fit-content;
    font-family: fantasy;
    padding: 2em;
}

.container-login table {
    align-content: center;
    margin: auto;
    justify-content: center;
}

.container-login mat-card {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 400px;
}

.register {
    position: relative;
    color: chocolate;
    animation: blink 1s infinite;
    animation-delay: calc(.2s * var(--i))
}

.container-spacer {
    padding: 1em;
}

.container-error {
    width: fit-content;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.error {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}