<div class="main-container">
    <h1>User Login</h1>

    <div *ngIf="!!errorMessage">
        <p style="color: red;"><code>{{ errorMessage }}</code></p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <table>
            <tr>
                <td>
                    <mat-form-field appearance="fill">

                        <mat-label>Your username</mat-label>
                        <input matInput type="text" formControlName="username">
        
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">

                        <mat-label>Your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text' " formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
        
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>
                    <button mat-flat-button color="primary">Login</button>
                </td>
            </tr>
        </table>
    </form>

    &nbsp;

    <div>
        <code>Don't have an account yet?</code>
        &nbsp;
        <span>
            <a [routerLink]="['/register']">Register here!</a>
        </span>
    </div>

</div>
