.container {
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-profile {
    padding: 2em;
}

.container-title h1 {
    padding: 0.4em;
    width: fit-content;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    color:rgb(172, 105, 235);
}

.container-profile-pic {
    position: relative;
    width: fit-content;
}

.image-container {
    height: 75px;
    width: 75px;
    z-index: 1;
    border-radius: 50%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    box-shadow: 0 5px 5px 5px #6c93001a;
}

.icon {
    color: white;
    font-size: 12px;
    height: 12px;
    width: 12px;
}

.icon-wrapper label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrapper input[type='file'] {
    display: none;
}

.icon-wrapper :hover {
    transition: all .25s;
    background-color: darken(#2962FF, 15%);
}

.icon-wrapper {

    position: absolute;
    height: 12px;
    width: 12px;
    padding: .50rem;
    background-color:#2962FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 120%;
    z-index: 2;
    cursor: pointer;

}

.container-spacer {
    padding: 1em;
}

.mat-mdc-card-header-text {
    vertical-align: middle;
    text-align: center;
}

.container-profile mat-card-title {
    padding-top: 0.8em;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.container-profile mat-card-subtitle {
    padding-left: 1.2em;
}

.container-profileinfo code {
    padding-bottom: 1.2em;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-profileinfo table {
    text-align: center;
    margin: auto;
}

.container-profileinfo p {
    padding-top: 0.8em;
    color:blueviolet;
    font-size: 18px;
}

.container-error {
    width: fit-content;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.error {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}