<div class="container">

    <div class="container-title">
        <h1>My Profile</h1>
    </div>

    <div class="container-profile">
        <mat-card *ngIf="!!profile">

            <div *ngIf="imageUploaded else uploadFail">
                <code style="color: green" class="">Profile picture uploaded successfully</code>
            </div>
        
            <ng-template #uploadFail>
                <div *ngIf="!!errorMessage" class="container-error">
                    <code style="color:red" class="error">{{ errorMessage }}</code>
                </div>
            </ng-template>
        
            <mat-card-header>
        
                <div mat-card-avatar class="container-profile-pic">
                    <div class="image-container" [style.background-image]="'url(' + profilePicUrl + ')'"></div>
                    <label for="profile-pic-input-file">
                        <div class="icon-wrapper">
                            <form method="POST" enctype="multipart/form-data">
                                <input type="file" id="profile-pic-input-file" accept="image/*" (change)="onFileUpload($event)" #profilePic>
                            </form>
                            <mat-icon class="icon" fontIcon="edit"></mat-icon>
                        </div>
                    </label>
                </div>
                <mat-card-title>{{ profile.firstname | uppercase }}</mat-card-title>
                <mat-card-subtitle>Username: {{ username | lowercase }}</mat-card-subtitle>
            </mat-card-header>

            <div class="container-spacer">

            </div>
        
            <mat-card-content>
                <div class="container-profileinfo">
                    <table>
                        <tr>    
                            <code>Account Id</code>
                            <p>{{ accountId }}</p>
                        </tr>

                        <tr>
                            <code>Family Name</code>
                            <p>{{ profile.lastname | titlecase }}</p>
                        </tr>

                        <tr>
                            <code>Age</code>
                            <p>{{ profile.age }}</p>
                        </tr>

                        <tr>
                            <code>Date of Birth</code>
                            <p>{{ profile.dob | date: 'd MMM, y' }}</p>
                        </tr>

                        <tr>
                            <code>Occupation</code>
                            <p>{{ profile.occupation }}</p>
                        </tr>

                        <tr>
                            <code>Country of Residence</code>
                            <p>
                                <img *ngIf="!!profile.country" mat-card-sm-image [src]="flag" alt="" title="{{ profile.country }}" style="width:120px; height:75px; border: solid;">
                            </p>
                        </tr>

                    </table>

                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>
