<div class="container">

    <div class="container-title">
        <h1>Account Registration</h1>
    </div>
    

    <div class="container-error" *ngIf="!!failedMessage">
        <p style="color: red;" class="error"><code>{{ failedMessage }}</code></p>
    </div>

    <div class="container-register">

        <mat-card appearance="outlined">
            <form [formGroup]="registerForm" (ngSubmit)="registerAccount()">
                <table>

                    <tr>
                        <td><h4>Username</h4></td>
                        <td></td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Input unique username</mat-label>
                                <input matInput type="text" formControlName="username">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr *ngIf="registerForm.get('username')?.dirty && registerForm.get('username')?.invalid">
                        <td></td>
                        <td colspan="2">
                            <code style="color: red;" *ngIf="!registerForm.get('username')?.value" class="error">Username cannot be blank</code>
                            <code style="color: red;" *ngIf="!!registerForm.get('username')?.value" class="error">Username must be at least 3 characters length</code>
                        </td>
                    </tr>

                    &nbsp;

                    <tr>
                        <td><h4>Email</h4></td>
                        <td></td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Your email</mat-label>
                                <input matInput type="email" formControlName="email">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr *ngIf="registerForm.get('email')?.dirty && registerForm.get('email')?.invalid">
                        <td></td>
                        <td colspan="2">
                            <code style="color:red" *ngIf="!registerForm.get('email')?.value else invalidEmail" class="error">Email cannot be blank</code>
                        </td>
                    </tr>
                    <ng-template #invalidEmail><code style="color:red">Invalid email format</code></ng-template>

                    &nbsp;

                    <tr>
                        <td><h4>Password</h4></td>
                        <td></td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Input new password</mat-label>
                                <input matInput formControlName="password" [type]="hide ? 'password' : 'text' ">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </td>
                    </tr>

                    &nbsp;

                    <tr>
                        <td style="vertical-align: middle;"><h4>Confirmed Password</h4></td>
                        <td></td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Confirm your password</mat-label>
                                <input matInput formControlName="confirmedPwd" type="password" [type]="hideConfirm ? 'password' : 'text' ">
                                <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr *ngIf="registerForm.get('confirmedPwd')?.dirty && registerForm.get('password')?.value!==registerForm.get('confirmedPwd')?.value">
                        <td></td>
                        <td colspan="2">
                            <code style="color: red;" class="error">Confirmed password does not match</code>
                        </td>
                    </tr>

                    &nbsp;

                    <tr>
                        <td></td>
                        <td>
                        </td>
                        <td>
                            <div>
                                <button mat-raised-button color="primary" [disabled]="!isFormValid()">Register</button>
                                &nbsp;
                                <button mat-raised-button color="" [routerLink]="['']" class="button-cancel">Cancel</button>
                            </div>
                        </td>
                    </tr>

                </table>
        
            </form>
        </mat-card>

    </div>

</div>
